<!-- page content -->
<div class="right_col" role="main" ng-controller="loginController">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Login Form</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="margin-top: 60px;">
                    <form name="form" ng-submit="login()" role="form" class="form-horizontal form-label-left">
                        <div class="item form-group">
                            <label for="password" class="control-label col-md-3"><i class="fa fa-lock"></i></label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="username" id="username" class="form-control"
                                       ng-model="credentials.username"
                                       placeholder="请输入用户名" required/>
                        <span ng-show="form.username.$dirty && form.username.$error.required"
                              class="help-block">请输入用户名</span>
                            </div>

                        </div>
                        <div class="item form-group">
                            <label for="password" class="control-label col-md-3"><i class="fa fa-key"></i></label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="password" name="password" id="password" class="form-control"
                                       ng-model="credentials.password"
                                       placeholder="请输入密码" required/>
                        <span ng-show="form.password.$dirty && form.password.$error.required"
                              class="help-block">请输入密码</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button id="send" type="submit" ng-disabled="form.$invalid" class="btn btn-success">Log in</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="clearfix"></div>

                                <div class="separator">
                                    <p class="change_link">New to site?
                                        <a href="#register" class="to_register"> Create Account </a>
                                    </p>

                                    <div class="clearfix"></div>
                                    <br />

                                    <div style="margin-top: 60px;">
                                        <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                        <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->